*.data
*.diff
*.solr
*.sql
*.swp
*.tmp
*~
.dtach
coverage/*
db/*.sqlite3
db/*.sqlite3.*
index/*
log/*
nbproject/*
tags
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/solr/data/*
vendor/plugins/acts_as_solr/solr/tmp/*
